.position-absolute{
  position: fixed;
}
.language{
  display: grid;
  align-items: center;
  justify-items: center;
  font-size: 1.5rem;
  border-radius: 100px;
  width:3rem;
  height: 3rem;
}

.love{
  font-size: 2.5rem;
  width:4rem;
  height: 4rem;
}
.item-5{
  top: 29vh;
  left: 27vw;
}

.float-slow{
  transform: translateY(-5%);
  animation: floating 5s infinite;
  transition: ease 0.5s;
}
.float-normal{
  transform: translateY(-5%);
  animation: floating 3.5s infinite;
  transition: ease 0.5s;
}
.float-fast{
  transform: translateY(-5%);
  animation: floating 2.5s infinite;
  transition: ease 0.5s;
}

.language:hover, .language:focus{
  animation-play-state: paused;
}

.item-4{
  bottom: 10vh;
  left: 28vw;
}

.item-3{
  top: 5vh;
  left: 33vw;
}
.item-2{
  top: 50vh;
  right: 10vw;
}
.item-1{
  bottom: 10vh;
  right: 5vw;
}
.item-0{
  top: 5vh;
  right: 15vw;
}

