/* languagesComponent's private CSS styles */
.languages {
  list-style-type: none;
  display: grid;
}

.languages li {
  position: relative;
  cursor: pointer;
}

.languages li:hover {
  left: .1em;
}
