.position-absolute{
  position: fixed;
}
.language{
  display: grid;
  align-items: center;
  justify-items: center;
  font-size: 1.5rem;
  border-radius: 100px;
  width:3rem;
  height: 3rem;
}

.love{
  font-size: 2.5rem;
  width:4rem;
  height: 4rem;
}
.item-5{
  top: 29vh;
  left: 27vw;
  transform: translateY(-5%);
  animation: floating 2.5s infinite;
  transition: ease 1s;
}

.item-4{
  bottom: 10vh;
  left: 31vw;
  transform: translateY(-5%);
  animation: floating 2.1s infinite;
  transition: ease 1s;
}

.item-3{
  top: 5vh;
  left: 33vw;
  transform: translateY(-5%);
  animation: floating 2.2s infinite;
  transition: ease 1s;
}
.item-2{
  top: 50vh;
  right: 10vw;
  transform: translateY(-5%);
  animation: floating 2.5s infinite;
  transition: ease 1s;
}
.item-1{
  bottom: 10vh;
  right: 5vw;
  transform: translateY(-5%);
  animation: floating 2.7s infinite;
  transition: ease 1s;
}
.item-0{
  top: 5vh;
  right: 15vw;
  transform: translateY(-5%);
  animation: floating 2.7s infinite;
  transition: ease 1s;
}

