/* Global Styles */
* {
  font-family: Inter,Helvetica Neue,Arial,sans-serif
}

html {
  background-color: #eeeeee
}
h1 {
  color: #4f4f4f;
  font-size: 2.5rem;
}

h2, h3 {
  color: #000000;
  font-weight: lighter;
}


button {
  background-color: #363636;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

button:hover {
  background-color: black;
}

button:disabled {
  cursor: auto;
}

/* Navigation link styles */
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-right: 10px;
  margin-top: 10px;
  display: inline-block;
}


hr {
  margin: 1.5rem 0;
}

input[type="text"] {
  box-sizing: border-box;
  width: 100%;
  padding: .5rem;
}

.grid{
  display: grid;
}

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*//* You can add global styles to this file, and also import other style files */
